.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4f8a8b;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 30px;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}

nav ul li:first-child a {
  margin-left: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.image-container img {
  max-width: 10%;
  border-radius: 50%;
}

.fa-heart {
  position: absolute;
  font-size: 5rem;
  color: red;
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 30px;
}

.date-container p {
  margin: 0;
}

footer {
  margin-top: auto;
  color: white;
}
